@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}

.form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.invalid > input {
  border: 2px solid red;
}
.invalid {
  color: red;
}
